#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
  background: #835afd;
  color: #fff;

  img {
    max-width: 32rem;
  }

  strong {
    font: 700 36px "Poppins", sans-serif;
  }

  p {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 1.6rem;
    color: #f8f8f8;
  }
}

main
{
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
}

.main-content
{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
  align-items: stretch;
  text-align: center;

  > img
  {
    align-self: center;
  }

  h2
  {
    font-size: 2.4rem;
    margin: 64px 0 2.4rem;
    font-family: 'Poppins', sans-serif;
  }

  form
  {
    input
    {
      height: 5rem;
      border-radius: 8px;
      padding: 0 1.6rem;
      background: #fff;
      border: 1px solid #a8a8b3;
    }

    button
    {
      margin: 1.6rem 0;
    }

    button, input
    {
      width: 100%;
    }
  }

  p
  {
    font-weight: bold;
    font-size: 1.4rem;
    color: #727280;

    a
    {
      color: #E559f9;
      text-decoration: none;
    }
  }

  .create-room
  {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 6.4rem;
    padding: 0 25px;

    border-radius: 5px; 
    font-weight: 500;
    background: #EA4335;
    color: #FFF;
    cursor: pointer;
    border: 0;
    transition: filter .2s;

    img
    {
      margin: 0;
    }

    &:hover
    {
      filter: brightness(0.9);
    }
  }

  .separator
  {
    display: flex;
    align-items: center;
    margin: 3.2rem 0;  
    font-size: 1.4rem;
    color: #a8a8b3;
  
    &::before
    {
      content: '';
      flex: 1;
      height: 1px;
      margin-right: 1.6rem;
      background: #A8A8B3;
    }
  
    &::after
    {
      content: '';
      flex: 1;
      height: 1px;
      margin-left: 1.6rem;
      background: #A8A8B3;
    }
  }
}
