#page-room
{
  .main-room
  {
    max-width: 80rem;
    margin: 0 auto;

    form
    {
      textarea
      {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background-color: #FEFEFE;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info
        {
          display: flex;
          align-items: center;

          img
          {
            width: 50px;
            border-radius: 50%;
          }

          span
          {
            margin-left: 8px;
            color: #29292E;
            font-size: 20px;
          }
        }
        
        > span
        {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button
          {
            background-color: transparent;
            border: 0;
            color: #6200b3;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            overflow: hidden;
          }
        }
      }

    }
  }
}

